p, a, h1, h2, h3, h4, h5, h6, figure {
    margin: 0px;
    padding: 0px;
}

/*border-box tells the browser to account 
for any border and padding in the values you specify for an element's width and height.*/
* {
    box-sizing: border-box;
  }

html, body {
    width: 100%;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
    overflow-x: hidden;
}

iframe.iframe-header {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    position: fixed;
    display: block;
    z-index: 5000;
}

iframe.iframe-footer {
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: none;
    position: fixed;
    display: block;
}

div.main-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

div.main-content h1 {
    text-transform: capitalize;
    font-size: 25px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

div.main-content p {
    padding: 5px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.8;
}