

div.main-page-img-background figcaption {
    display: block;
    font-size: 8px;
    text-align: center;
    clear: left;
}

div.main-page-img-background figure {
    position: absolute;
    margin-top: 50px;
    width: 100%;
}

div.main-page-img-background img {
    width: 100%;
}
