div.main-page-content{
    overflow: hidden;
    margin-bottom: 50px;
    margin-top:30px;
}

div.main-page-content figcaption {
    display: block;
    font-size: 8px;
    position: relative;
    text-align: center;
}

div.main-page-content figure {
    width: 100%;
}

div.main-page-content h1 {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;   
    word-spacing: 10px; 
} 

div.main-page-content img {
    max-width: 100%;
}

div.main-page-content h3{
    font-style: italic;
    font-weight: 50;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    word-spacing: 5px;
}
