div.core-content {
    font-family: 'Libre Franklin', sans-serif;
}

div.img-col-display {
    float: left;
    padding: 50px;
}

div.img-row-display::after {
    display: flex;
}

img.learning {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.value {
    width: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-col-display p {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}