div.core-value-container {
    position: relative;
    font-family: 'Libre Franklin', sans-serif;
    margin-top: 500px;
    width: 100%;
}

div.first-col {
    width: 50%;
}

div.first-row {
    display: flex;
}




