p, a, h1, h2, h3, h4, h5, h6, figure {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

footer.social-icon a {
    color: darkslategrey;
}

footer.social-icon {
    display: flex;
    position: fixed;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-self: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 30px;
    background-color: rgb(183, 199, 186);
}

footer.social-icon i {
    padding: 10px;
}

footer.social-icon #social-gm:hover {
    color: #D44638;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-fb:hover {
    color: #3B5998;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-tw:hover {
    color: #4099FF;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-in:hover {
    color: #0e76a8;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-gh:hover {
    color: #6e5494;
    transform: scale(1.5);
    transition-duration: 0.8s;
}