* {
    box-sizing: border-box;
}

div.technical img {
    float: left;
    padding-right: 5px;
    padding-top: 8px;
}

div.title p {
    font-size: 2em;
}

div.column {
    float: left;
    padding: 5px;
}

div.row::after {
    content: "";
    clear: both;
    display: table;
}

iframe.code-sample {
    margin-left: 8px;
    width: 500px;
    height: 200px;
    border: none;
}

#positions {
    width: 100%;
}

.positions-list ul {
    list-style-type: none;
    width: 100%;
}

.positions-list li {
    display: inline;
    padding-right: 20px;
}

.relative-position-list li {
    font-size: 15px;
}

ul.positions-list a {
    color: black;
    text-decoration: none;
}

ul.relative-position-list {
    margin: 5px;
}