div.sprint3-container {
    display: block;
    /*establishes the main-axis*/
    flex-direction: row;
    /*flex items will wrap onto multiple lines, from top to bottom.*/
    flex-wrap: wrap;
    /*defines the alignment along the main axis.*/
    justify-content: space-around;
    margin-bottom: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 80px;
}

div.sprint3-container h1 {
    font-size: 25px;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    
}

div.sprint3-container p {
    font-size: 15px;
    line-height: 1.8;
    padding: 5px;
    text-align: justify;
}

div.analogy img {
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
}

div.analogy p {
    padding-top: 5px;
}

div.control-flow-loops {
    margin-top: 30px;
}

img.animated-gif-monkey {
    float: left;
    margin-right: 10px;
    padding-bottom: 5px;
    width: 23%;
}

div.control-flow-loops em,
div.array-object em {
    color:darkslategray;
    font-family:'Ink Free';
    font-size: 18px;
    font-weight:bold;
    margin-left: 10px;
    word-spacing:3px; 
}

img.animated-gif-water {
    float: right;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    width: 17%;
}

img.dom-tree {
    float: left;
    margin-bottom: 20px;
    margin-right: 5px;
    width: 22%;
}

div.dom p {
    margin-bottom: 10px;
    margin-top:10px;
}

div.dom h5 {
    margin-bottom: 10px;
    margin-top: 80px;
}

img.dom-interface {
    border: solid black 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    width:50%;
}

img.dom-console {
    border: 1px dotted black;
    float: left;
    width: 50%;
}

img.view-page-source {
    border: 1px dotted black;
    float: left;
    width: 30%;
}

div.dom ol {
    float: left;
    display: block;
}

div.dom li {
    float: left;
    font-size:15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

img.corgie {
    float: left;
    margin:5px;
    width: 30%;
}

div.array-object {
    float: left;
    margin-bottom: 80px;
}







