div.tech-content {
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
    position: absolute;
    top: 15%;
}

div.img-col1-display {
    width: 50%;
    text-align: center;
}

div.img-row1-display {
    display: flex;
    margin-bottom: 30px;
}

div.img-row2-display {
    display: flex;
    margin-bottom: 80px;
}

img.center {
    margin-top: 20px;
    border: double black;
    width: 70%;
}

.img-col1-display p {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}



