p, a, h1, h2, h3, h4, h5, h6, figure {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

div.wrapper {
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(75px, auto);
    font-family: 'Libre Franklin', sans-serif;
    position: relative;
    min-height: 100%;
}

div.wrapper > * {
    grid-column: col-start / span 12;
}

div.li.dropdown {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }

div.dropdown-list {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    z-index: 1;
    text-align: left;
  }

div.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
div .dropdown-list a:hover {background-color: #8fbcbc;}

div .dropdown:hover .dropdown-list {display: block;}
  
div .dropdown:hover .dropbtn {background-color:azure;}

div .dropdown .dropbtn:hover {
    background-color:#8fbcbc; 
    color: azure; 
}

div.main-page-img-background {
    grid-row: 2 / span 10;
    object-fit: contain;
    font-size: 8px;
    text-align: center;
    margin: 20px auto;
 }

nav.nav-list {
   grid-column: col-start / span 6;
   grid-row: 1 / 2; 
   display: flex;
   padding: 10px;
   align-self: center;
}

nav.nav-list ul {
    margin: 0px;
    display: inline;
    padding: 0px;
}

nav.nav-list li {
    float: left;
    list-style-type: none;
}

div.title {
   grid-column: col-start 7 / span 6;
   grid-row: 1 / 2; 
   color: black;
   text-align: right;  
   text-transform: uppercase;  
   align-self: center;
   margin-right: 10px;
}

div.title p {    
    font-size: 2em;
}

.main-menu button {
    background-color:transparent;
    text-decoration: none;
    display: flex;
    border: none;
    font-weight: bold;
    font-size: 18px;
    width:120px;
}

.main-menu button a{
    text-decoration: none;
    color:black;
    position: relative;
    text-align: center;
    display: block;
    transition-duration: 0.2s;
    margin: 0;
}


.main-menu button:hover {
    background-color:#8fbcbc;  
    padding:30px;
}

.main-menu button a:hover{color: azure;}


footer.social-icon a {
    color:darkslategrey;
}

footer.social-icon {
    grid-column: col-start / span 12;
    display: flex;
    flex-shrink: 0;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: auto;
    font-size: 30px;
    background-color:rgb(183, 199, 186);
}

footer.social-icon i{
    padding: 10px;
}

footer.social-icon #social-gm:hover{
    color: #D44638;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-fb:hover{
    color: #3B5998;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-tw:hover{
    color: #4099FF;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-in:hover{
    color: #0e76a8;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-gh:hover{
    color: #6e5494;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

span.header-background {
    grid-column: col-start / span 12;
    grid-row: 1 / 2;
    background-image: linear-gradient(to right, darkslategrey, azure );
}











