* {
    box-sizing: border-box;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 10px;
}

.wrapper > * {
    grid-column: col-start / span 12;
}

.main-head {
   grid-column: col-start / span 12;
   grid-row: 1;  
   border: 1px blue solid;  
}

.about {
   grid-column: col-start / span 7;
   grid-row: 3;
   border: 1px blue solid; 
   width: auto;
}

.footer {
    grid-column: col-start / span 12;
    grid-row: 12;
    border: 1px blue solid;
}

h1{
    color: red;
    text-align: center;   
}

.main-head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin:10px;
}

.active {
    background-color: cyan;
}

li a:hover:not(.active) {
    background-color: rgb(110, 112, 114);
}








