p, a, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

div.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-template-rows: repeat(12, [row-start] 1fr);
    grid-gap: 10px;
    font-family: 'Libre Franklin', sans-serif;
}

div.wrapper > * {
    grid-column: col-start / span 12;
}

span.header-background {
    grid-column: col-start / span 12;
    grid-row: 1 / 2;
    background-image: linear-gradient(to right, darkslategrey, azure );
}

nav.nav-list {
   grid-column: col-start / span 6;
   grid-row: 1 / 2; 
   align-self: center;
}

nav.nav-list ul {
    display: block;
    margin: 0px;
}

nav.nav-list li {
    float: left;
    list-style-type: none;
    padding-right: 10px;
}

div.title {
   grid-column: col-start 7 / span 6;
   grid-row: 1 / 2; 
   color: black;
   text-align: right;  
   text-transform: uppercase;  
   align-self: center;
}

div.title p {    
    font-size: 2em;
}

.main-menu button {
    background-color:azure;
    border-radius: 10%;
    padding: 10px;
    font-weight: bold;
}

.main-menu button a{
    padding: 10px;
    text-decoration: none;
    color:black;
    font-size: 16px;
}

div.about {
   grid-column: col-start / span 7;
   grid-row: 2 / 3; 
   width: auto;
   padding: 10px;
}

div.my-image {
    grid-column: col-start 9 / span 4;
    grid-row: 2 / 3;
}

footer.social-icon a {
    color:darkslategrey;
}

footer.social-icon {
    grid-column: col-start / span 12;
    grid-row: 12 / span 12;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    background-color:rgb(183, 199, 186);
}

footer.social-icon i{
    padding: 10px;
}

footer.social-icon #social-gm:hover{
    color: #D44638;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-fb:hover{
    color: #3B5998;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-tw:hover{
    color: #4099FF;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-in:hover{
    color: #0e76a8;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

footer.social-icon #social-gh:hover{
    color: #6e5494;
    transform: scale(1.5);
    transition-duration: 0.8s;
}

.active {
    background-color:azure;
    opacity: 0.2;

}

.main-menu a:hover:not(.active) {
    background-color: rgb(110, 112, 114);
    opacity: 0.2;
    
}








