div.core-content {
    font-family: 'Libre Franklin', sans-serif;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 15%;
}

div.img-col1-display {
    width: 50%;
    text-align: center;
}

div.core-content p {
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

div.img-col2-display {
    width: 50%;
    text-align: center;
}

div.img-row1-display {
    display: flex;
}

div.img-row2-display {
    display: flex;
    margin-bottom: 80px;
}

img.center {
    border: double black;
    display: block;
    height: 380px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 400px;
}





