div.eq-iq {
display: inline-block;    
}


#img-framework {
    float: right;
    margin-left: 5px;
    width: 50%;
}

div.eq-iq ul {
    font-size: 15px;
    margin-top:5px;
}

div.eq-iq li {
    text-align: justify;
}

div.eq-iq img {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#img-iqvseq {
    float: left;
    width: 35%;
    margin-right: 20px;

}



