div.foundations-core {
    position: relative;
    text-align: center;
}

div.foundations-core img {
    opacity: 0.9;
}

div.foundations-core li {
    font-size:17px;
    list-style-type: none;
}

div.foundations-core p {
    text-align: center;
}

div.foundations-core ul {
    padding-left: 0;
} 
